html {
    height: 100%;
}

body{
	height:100%;
	width:100%;
	background-color:#acc;
	overflow-y:hidden;
	overflow-x:hidden;
}

#header{
	margin-left: 10px;
	font-size:20pt;
	font-family: arial black;

}

#gameContainer{
	height:500px;
	width:1000px;
	padding: 15px 5px;
	/*margin:10px;
	padding:5px;*/
	overflow:hidden;
	background-color:#FFF;
}

#gameGrid{
	float:left;
}

#pieceCollection{
	background-color: #FFF;
	float:left;
	bottom:1em;
	right:1em;
	height:70%;
	width:50%;
}

.cell{
	min-width:21px;
	height:21px;
	border:1px solid #FFF;
}

.greyCell{
	background-color:#DDD;
}

.whiteCell{
	opacity:0;
}

.p1Cell{
	background-color:#F00;
}

.p2Cell{
	background-color:#0C0;
}

.p3Cell{
	background-color:#00F;
}

.p4Cell{
	background-color:#EBEB00;
}

.gamePiece{
	display:inline-block;
	margin:12px;
}

.gamePieceContainer{
	position:relative;
	display:inline-block;
	/*float:left;*/
	padding:12px;
}

.rotateButton{
	display:block;
	position:absolute;
	background-color:white;
	left:2px;
	top:3px;
	width:24px;
	height:24px;
	/*border:2px solid black;*/
	background: url(../rotate-icon.svg);
	border-radius: 2px;
}

.rotateButton:active{
	background-color:#AAA;
}

.flipButton{
	display:block;
	position:absolute;
	background-color:blue;
	width:16px;
	height:16px;
	border:2px solid black;
	border-radius: 16px;	
}

.flipButton:active{
	background-color:#00A;
}

.hidden{
	display:none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}